.c-navbar {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;

    width: 100%;
    height: 80px;

    background-color: #353434;
}
.c-navbar__inner {
    display: flex;
    height: 80px;
    padding: 0 .5em;

    -ms-align-items: center;
        align-items: center;
    justify-content: center;
}

.c-navbar__logo {
    font-family: "Damion";
    font-size: 4em;
    font-weight: 400;

    color: #fff;
}

.c-navbar__logo::after {
    width: 100%;
    padding-left: 1em;

    content: "";

    border-right: solid 1px #3d3d3d;
}

.c-nav__list {
    display: -webkit-flex;
    display:    -moz-flex;
    display:     -ms-flex;
    display:      -o-flex;
    display:         flex;
    margin-left: 3em;

    font-family: "Lato", sans-serif;
    font-size: 1.6em;

    color: #d0d0d0;
}

.c-nav__list li {
    margin: 0 1em;
}

.c-nav__list li:hover {
    color: #efefef;
}
.c-navbar__si {
    display: flex;
    max-width: 400px;
    margin-left: auto;

    color: #d0d0d0;
}

.c-navbar__si__a {
    display: flex;
    width: 30px;
    height: 30px;
    margin: 10px;

    font-family: "Socialico";
    font-size: 2em;

    cursor: pointer;

    color: #d0d0d0;
    border: solid 2px #d0d0d0;

    align-items: center;
    justify-content: center;
}

.c-navbar__si__a:hover {
    color: #fff;
    background-color: #c7c7c7;
}
